[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
kubernetes = "*"
locust = "*"
seaborn = "*"
yaml-patch = "*"

# the space is on purpose and very important
"psc " = {ref = "git.tu-berlin.de/cloud-sustainability/prometeus-energy-agent.git", git = "git+https://pipthing:to4B7fmd6Hs993ZqKHSk"}
progressbar2 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
