[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psc = { git = "https://pipthing:hmmyFR_ifzwunWVbRhae@git.tu-berlin.de/ise/teadal/prometeus-energy-agent.git", ref="91dda6078ad33f3a0ff2b3f25b1ddc52c2ad9ad3"}
docker = "*"
kubernetes = "*"
locust = "*"
seaborn = "*"
yaml-patch = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
