[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
docker = "*"
kubernetes = "*"
locust = "*"
progressbar2 = "*"
psc = {path = "./agent", editable = true}
pydantic = "*"
pydantic-settings = "*"
pydantic-yaml = "*"
requests = "*"
ruamel-yaml = "*"
tabulate = "*"
yaml-patch = "*"

[requires]
python_version = "3.13"
